<speak>
    <voice name="{{ character.voice_id }}">
        <prosody rate="{{ (character.speed * 100) | round | int }}%" pitch="{{ character.pitch }}">
            {{ text }}
        </prosody>
    </voice>
</speak>
